<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
    <title> To-do list</title>
</head>
<body>

    <div id="app">
        <h1>
            To-do list
        </h1>
        <div class="taskNew">
            <label for="taskName">Новая задача:</label>
        <input type="text" id="taskName"  v-model="newTask">
        <button class="buttonNew"  @click="addTask">Добавить</button>
        </div>
        <ul class="taskList">
            <li v-for="(task, index) in todoList">
                <!-- {{task.id+". "+task.title}} -->
                {{ task.title}}

                <button class="buttonDel" @click="removeTask(index)">Удалить</button>
            </li>
        </ul>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
   
    <script  src="script.js"></script>

</body>
</html>